<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  


<form action="/user/add-user" method="POST" class="form-signin full-width text-center">
  <h1 class="h3 mb-3 font-weight-normal">Add Uers</h1>
  <label for="name" class="sr-only">Name</label>
  <input type="text" name="name" class="form-control" placeholder="Your name" required autofocus>
  <label for="Location" class="sr-only">Location</label>
  <input type="location" name="location" class="form-control" placeholder="Your location" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
</body>

</html>
